@tailwind base;
@tailwind components;
@tailwind utilities;

.home-container {
  @apply w-full  bg-[#f0f1f1] overflow-hidden
}

/*Top Header*/
.topheader {
  @apply flex flex-row items-center justify-center w-full h-[60px] space-x-3 
          md:flex md:flex-row md:items-center md:justify-center md:w-full md:h-[60px] md:space-x-3
          lg:flex lg:flex-row lg:justify-between lg:px-20
}

.top-header-card {
  @apply flex flex-row items-center space-x-4
          md:flex md:flex-row md:items-center md:space-x-4
}

.orderlist {
  @apply sm:hidden md:hidden lg:flex lg:flex-row lg:space-x-4 lg:text-[#6a6969]
}

.account-card {
  @apply flex items-center justify-center gap-2 w-[120px] h-[40px] bg-[#fff]
}

.icon-card {
  @apply sm:hidden md:hidden lg:flex lg:flex-row lg:justify-between lg:gap-1
}

.icon-card-one {
  @apply flex flex-row justify-between gap-2 
          lg:hidden
}


.icon-count {
  @apply flex w-[20px] h-[20px] rounded-full items-center justify-center border border-[#595959]
}

/*Second Header*/
.header {
  @apply relative flex flex-row justify-between items-center w-full h-[70px] bg-[#181f21] px-3
          md:flex md:flex-row md:justify-between md:items-center md:w-full md:h-[70px] md:bg-[#181f21]
          lg:flex lg:flex-row lg:justify-between lg:px-20 lg:w-full lg:h-[80px] lg:bg-[#fff] lg:py-6  
}

.header-title {
  @apply flex flex-row lg:flex lg:flex-row
}

.multi-text {
  @apply flex items-center justify-center px-2 w-[100px] h-[40px] bg-[#fff] text-[#595959] text-[27px] font-bold
         lg:flex lg:w-[100px] lg:h-[50px] lg:px-2 lg:bg-[#181f21] lg:text-[#FFC300] lg:text-[27px] lg:font-bold       
}

.shop-text {
  @apply flex items-center justify-center px-2 w-[100px] h-[40px] bg-[#FFC300] text-[#fff] text-[27px] font-bold
         lg:flex lg:items-center lg:justify-center lg:px-2 lg:h-[50px] lg:bg-[FFC300] lg:text-[#fff] lg:text-[27px] lg:font-bold         
}

.icon-card-container {
  @apply sm:hidden md:hidden lg:flex lg:flex-row lg:gap-2
}

.icon-hamburger {
  @apply flex items-center justify-center w-[50px] h-[40px] border border-[#999] rounded-md cursor-pointer
          md:flex md:items-center md:justify-center md:w-[50px] md:h-[40px] md:border md:border-[#999]
          lg:hidden
}

.navmobile-dropdown {
  @apply flex w-full h-[150px] bg-[#181f21] px-3 
          lg:hidden
}

.navmobile-dropdown-text {
  @apply text-[#fff] mt-1 
}

.navmobile-dropdown-list {
  @apply mt-2 lg:hover:text-[#FFC300] cursor-pointer
}

.icon-count-heart {
  @apply flex w-[20px] h-[20px] rounded-full items-center justify-center border border-[#fff] text-[#fff] text-[12px]
}

.search {
  @apply sm:hidden lg:flex 
          lg:flex-row lg:items-center lg:justify-between lg:w-[350px] lg:h-[50px]
}

.input-field {
  @apply lg:flex-row lg:items-center lg:justify-between lg:w-[300px] lg:h-[50px] lg:border lg:border-[#c8c5c5] lg:outline-none lg:px-2
}

.search-icon {
  @apply sm:hidden 
          lg:flex lg:items-center lg:justify-center lg:w-[50px] lg:h-[50px] lg:border lg:border-[#999]
}

.customer-service-side {
  @apply sm:hidden md:hidden 
          lg:grid grid-rows-1 lg:flex-row lg:space-x-2
}

.customer-text {
  @apply sm:hidden lg:flex lg:text-[#999] lg:font-bold
}

.customer-num {
  @apply sm:hidden lg:flex lg:text-[#595959]
}

/*Third Header*/
.third-header {
  @apply lg:flex lg:flex-row lg:justify-between lg:px-20 lg:w-full lg:h-[70px] lg:bg-[#181f21] lg:py-6
}

.category-Links-container {
  @apply sm:hidden lg:flex lg:flex-row lg:w-full lg:space-x-4
}

.hamburger-category-container {
  @apply sm:hidden lg:flex lg:flex-row lg:gap-2 lg:items-center lg:text-[#181f21] lg:font-bold
}

.category-card-header {
  @apply sm:hidden lg:flex lg:flex-row lg:items-center lg:justify-between lg:px-6 lg:w-[400px] lg:h-[70px] lg:bg-[#FFC300] lg:mt-[-24px]
}

.nav-list {
  @apply sm:hidden lg:flex lg:flex-row lg:items-center lg:mt-[-24px] lg:h-[70px] lg:space-x-4 lg:text-[#fff]
}


/*Slider Container*/
.slider-container {
  @apply relative w-full h-[380px] md:relative md:flex md:w-full md:h-[450px] px-3 mt-4 lg:hidden
}

.image-size {
  @apply relative w-full h-[380px] brightness-50 md:w-full md:h-[450px]
}

.text-display {
  @apply absolute  grid place-items-center
}

.h3-text {
  @apply text-[#fff] text-[30px] font-semibold
}

.p-text {
  @apply text-[#fff] text-[16px] grid w-full place-content-center
}

.slider-navigation {
  @apply absolute flex flex-row items-center justify-center gap-4 bottom-8
}

.text-display-btn {
  @apply flex items-center justify-center text-[#fff] w-[120px] h-[50px] border border-[#fff] mt-4
}

/*Slider Special Offers*/
.slider-specialOffer {
  @apply relative grid place-items-center px-3 mt-4
}

.image-special {
  @apply w-full h-[250px] px-2 mb-4 bg-black lg:hidden
}

.image-card {
  @apply relative  w-full h-[200px] bg-black brightness-50 md:h-[290px] lg:hidden
}

.image-contents {
  @apply absolute grid place-items-center text-white lg:hidden
}

.save-text {
  @apply text-[16px] font-semibold lg:hidden
}

.save-h3 {
  @apply font-bold text-[20px]
}

.save-btn {
  @apply grid place-items-center w-[100px] h-[40px] bg-[#FFC300] mt-2 text-black
}

/*Large Screen Slider*/

.large-slider-container {
  @apply sm:hidden md:hidden lg:flex lg:flex-row lg:items-center lg:justify-between lg:mx-6 px-[60px] gap-4  lg:w-full lg:h-[600px]
}

.slider-images {
  @apply flex items-center  justify-center relative bg-black w-8/12 h-[500px] py-8
}

.slider-contents {
  @apply absolute grid place-items-center  text-[#fff] w-7/12
}

.sales-container {
  @apply grid grid-rows-2 w-4/12 
}

.sales-image {
  @apply relative bg-black w-11/12 h-[280px] mb-[20px] mt-2
}

.sales-text {
  @apply absolute grid place-items-center w-11/12 mx-4 mt-[82px] text-[#fff]
}

.header-text {
  @apply font-semibold text-[40px]
}

.param-text {
  @apply text-[17px] mt-3
}

.slider-btn {
  @apply flex items-center justify-center w-[120px] h-[40px] border border-[#fff] mt-6 text-center 
}

.size-image {
  @apply h-[600px] w-[1100px] brightness-50
}

.sales-btn {
  @apply flex items-center justify-center w-[120px] h-[40px] bg-[#FFC300] text-[#000] mt-3
}

.text-h3 {
  @apply mt-2 font-semibold text-[25px]
}

.images {
  @apply absolute w-[500px] h-[290px] brightness-50
}

/*SERVICE CSS*/
.service-container {
  @apply grid p-4  w-full  mt-16 mb-8 
          lg:grid lg:grid-cols-4 lg:w-full lg:px-[90px] lg:gap-4 lg:pl-[85px] lg:pr-[77px]
}

.service-card {
  @apply flex flex-row items-center px-10 gap-4 w-full h-[90px] shadow-md mb-8 bg-[#fff] 
          lg:px-8 lg:w-full
}

.header-4 {
  @apply  text-[#6a6969] text-[18px] font-semibold lg:text-[#6a6969] lg:text-[18px] lg:font-semibold
}

/*CATEGORY CSS*/
.category-container {
  @apply px-4 pb-3 md:grid md:grid-cols-3 md:gap-3 md:px-[18px]
          lg:grid lg:grid-cols-4 lg:gap-3 lg:px-[80px]
}

.category-card {
  @apply flex flex-row items-center  gap-2 w-full h-[100px] shadow-md bg-[#fff] mb-4
           md:gap-2 md:w-full md:h-[100px] md:bg-[#fff] md:mb-4
}

.category-image {
  @apply w-3/12 h-[100px]
}

.image {
  @apply w-full h-[100px] py-2
}

.category-header {
  @apply flex flex-row items-center justify-center font-bold text-[23px] mb-5 text-[#595959]
}

.category-h3 {
@apply text-[#595959]
}

.category-p {
  @apply text-[13px] text-[#999] mt-2
}

/*Featured Product*/

.featured-container {
  @apply relative mt-4 px-4 md:grid md:grid-cols-3 md:gap-3 md:mx-[2px] lg:grid lg:grid-cols-4 lg:gap-3 lg:mx-[65px]
}

.featured-card {
  @apply w-full h-[400px] hover:brightness-75 shadow-md bg-[#fff] mb-4 mt-6 md:p-4
}

.featured-content {
  @apply grid place-items-center pt-[35px] hover:scale-110 duration-300
}

.cats-image {
  @apply w-[250px] h-[250px] 
}

.cats-text {
  @apply grid place-items-center
}

.cats-text-title {
  @apply text-[#595959]
}

.cats-text-price {
  @apply mt-1 text-[20px] text-[#999]
}

.featured-image {
  @apply  w-full h-[200px] md:w-8/12 md:h-[200px] md:mx-6
}

.featured-h3 {
  @apply text-center text-[25px] text-[#595959] font-bold mt-8
}

.details-btn {
  @apply flex items-center justify-center font-bold text-[#fff] w-[200px] h-[45px] bg-[#181f21] lg:w-full
}

.cart-btn {
  @apply flex items-center justify-center font-bold text-[#fff] w-[200px] h-[45px] bg-[#ffc300] mt-3 cursor-pointer
          md:flex md:items-center md:justify-center md:font-bold md:text-[#fff] md:w-full md:h-[45px] md:bg-[#ffc300] md:mt-3 md:cursor-pointer 
          lg:w-[180px] lg:h-[45px] lg:bg-[#ffc300] lg:mt-3 lg:cursor-pointer
}

.processing-btn {
  @apply flex items-center justify-center font-bold text-[#fff] w-[200px] h-[45px] bg-[#5d5c5b93] mt-3 cursor-pointer md:flex md:items-center md:justify-center md:font-bold md:text-[#fff] md:w-full md:h-[45px] md:bg-[#5d5c5b77] md:mt-3 md:cursor-pointer lg:w-[180px] lg:h-[45px] lg:bg-[#5d5c5bc6] lg:mt-3 lg:cursor-pointer
}

.processing-gap {
  @apply flex flex-row items-center w-full justify-center gap-2
}

.btn-container {
  @apply absolute grid place-content-center w-full mt-10 md:w-6/12 
}

.featuredcardModal {
  @apply lg:absolute lg:w-full lg:h-[650px] lg:flex lg:items-center lg:justify-center lg:mt-[-100px]

}

.feeature-card {
  @apply lg:w-full lg:bg-slate-50 lg:px-10 lg:pt-10 lg:mx-60 lg:pb-10 
}

.card-content {
  @apply lg:grid lg:grid-cols-2 lg:w-full lg:bg-slate-50 lg:px-10
}

.featuredCard-image {
  @apply lg:w-11/12 lg:h-[400px] 
}

.close-featuredCard {
  @apply lg:flex lg:justify-end lg:mt-[-20px]
}

.color-list {
  @apply lg:flex lg:flex-row lg:space-x-2 lg:mt-4
}

.card-content-title {
  @apply lg:text-[14px]
}

.card-content-category {
  @apply lg:text-[#535353] lg:text-[15px]
}

.card-content-price {
  @apply lg:text-[25px] lg:mt-2 lg:font-bold
}

.content-wrapper {
  @apply lg:w-full
}

.card-content-border {
  @apply lg:w-full lg:border lg:border-dotted lg:bg-[#999] lg:mt-4
}

.color-list-h3 {
  @apply lg:text-[#535353]
}

.color-list-p {
  @apply lg:text-[#797979]
}

.card-content-btn {
  @apply lg:flex lg:flex-row lg:items-center lg:justify-center lg:w-full lg:h-[50px] lg:space-x-6 lg:mt-10 
}

.btn-submit {
  @apply lg:flex lg:items-center lg:justify-center lg:w-11/12 lg:h-[50px] lg:bg-[#ffc300]
}

.btn-icon {
  @apply lg:flex lg:items-center lg:justify-center lg:w-[50px] lg:h-[50px] lg:border lg:border-[#999] lg:rounded-full
}

.btn-submit-p {
  @apply lg:text-[#5c5a5a] lg:font-bold
}

.card-content-details {
  @apply lg:text-[#535353] lg:text-[13px] lg:mt-2
}





/*Footer Container*/
.footer-container {
  @apply w-full  bg-[#181f21] mt-20 
}

.footer-row {
  @apply px-4 pt-2 md:grid md:grid-cols-3 lg:mx-20 lg:pb-10 lg:grid lg:grid-cols-4 lg:w-full 
}

.getin-touch-h3 {
  @apply text-[#fff] text-[22px] font-semibold
}

.getin-touch-p {
  @apply text-[#fff] mt-4
}

.contacts-address {
  @apply flex flex-row space-x-3 mt-6 mb-[-10px]
}

.contacts-h2 {
  @apply text-[#fff]
}

.quick-shop {
  @apply mt-16 md:mt-[-20px] md:grid md:items-center md:justify-center
}

.quick-shop-l1 {
  @apply flex flex-row space-x-2 mt-6 mb-[-15px] items-center md:mt-[-35px]
}

.home-p {
  @apply text-[#fff] 
}

/*News Letter*/
.newslettter-fields {
  @apply flex flex-row items-center justify-center
}

.getin-touch-h3 {
  @apply mt-20
}

.newslettter-fields {
  @apply w-full h-[40px] mt-3
}

.input {
  @apply w-10/12 h-[40px]  bg-[#f4f2f2] flex items-center px-1 md:w-full md:h-[50px] 
}

.input-field {
  @apply w-full h-[40px] bg-[#f4f2f2] flex items-center px-1 outline-none md:w-full md:h-[50px] md:border md:border-[#f4f2f2]
}

.input-btn {
  @apply w-2/12 h-[45px] bg-[#ffc300] flex items-center justify-center text-[#535353] md:w-4/12 md:h-[50px]
}

/*FOLLOW US*/
.follow-us {
  @apply pt-6 md:mt-6 lg:mt-[-82px] lg:grid lg:place-content-center lg:font-bold
}

.follow-icons-row {
  @apply flex flex-row space-x-3 pb-6 mt-4 lg:w-full
}

.icon {
  @apply w-1/12 h-[35px] bg-[#ffc300] flex items-center justify-center md:w-2/12 md:h-[30px] lg:w-3/12 lg:h-[26px]
}

.follow-us-p {
  @apply text-[#fff]
}

/*SHOPPING CART*/
.order-container {
  @apply w-full bg-[#f0f1f1] overflow-hidden
}
.cart-link-container {
  @apply w-full h-[50px] px-4 flex
}

.cart-link-header {
  @apply bg-[#f1f0f0] w-full h-[50px] flex items-center gap-1 px-4  mt-6  md:px-16
}

.cart-link-p {
  @apply text-[#848383] hover:underline hover:underline-offset-1
}

.cart-link-checkout {
  @apply text-[#848383]
}

.orders-container {
  @apply relative w-full h-[50px] px-4 flex items-center mt-16
}

.order-header {
  @apply relative bg-[#181f21] text-[#fff] w-full h-[50px] mb-10 drop-shadow-md grid grid-cols-5 place-items-center justify-between px-3
}

.address-icon-text {
  @apply flex flex-row space-x-4
}

.address-btn {
  @apply text-[#ffc300] text-[15px] cursor-pointer
}

.chooseAddress-container {
  @apply w-full h-[100px] px-5  mb-10
}

.address-content {
  @apply px-3 bg-[#fff] drop-shadow-md w-full h-[40px]
}

.products-container {
  @apply w-full h-[70px] px-4 flex items-center mt-16 justify-center mb-[-16px]
}

.products-header {
  @apply bg-[#fff] text-[#535353] w-full h-[100px] mb-20 drop-shadow-md grid grid-cols-5 place-items-center justify-between px-3 hover:bg-[#e8e9ea]
}

.counter-card {
  @apply grid grid-cols-3 w-full place-items-center bg-[#f0efed]
}

.count {
  @apply w-11/12 h-[30px] bg-[#f0efed] place-items-center text-center text-[15px]
}

.counter-decrease {
  @apply w-11/12 h-[30px] bg-[#ffc300] place-items-center text-center font-bold text-[20px]
}

.counter-increase {
  @apply w-11/12 h-[30px] bg-[#ffc300] place-items-center text-center font-bold text-[20px]
}

.order-remove {
  @apply w-5/12 h-[30px] bg-[#ff0800] place-items-center text-center font-bold text-[19px]  text-[#fff] cursor-pointer
}

.product-image {
  @apply w-8/12 h-[60px]
}

/*COUPON*/
.coupon-container {
  @apply w-full h-[70px] px-4 flex items-center justify-between mt-6 md:pt-4 md:w-full
}

.input-field {
  @apply w-10/12 h-[45px] bg-[#fff] md:w-11/12 md:h-[53px]
}

.input {
  @apply w-10/12 h-[45px] bg-[#fff] outline-none px-2 md:w-11/12 md:h-[51px]
}

.coupon-btn {
  @apply w-4/12 h-[45px] bg-[#ffc300] text-center grid place-items-center  text-[#535353] md:w-5/12 md:h-[50px] lg:w-3/12 lg:h-[50px]
}

/*CART SUMMARY*/
.cart-summary-container {
  @apply w-full px-4 mt-6
}

.cart-icon {
  @apply flex flex-row space-x-4 items-center
}

.cart-icon-summary {
  @apply text-[20px]
}

.summary-container {
  @apply w-full h-[230px] drop-shadow-md bg-[#fff] mt-4 mb-4 
}

.summary-content {
  @apply flex flex-row justify-between px-8 pt-10 text-[#535353]
}

.summary-content-shipping {
  @apply flex flex-row justify-between px-8 mt-[-64px] text-[13px] text-[#535353]
}

.underlin {
  @apply w-full h-[70px] px-8 mt-2
}

.main-underlin {
  @apply  border border-[#ebeaea] w-full
}

.total-card {
  @apply w-full px-8 mt-[-50px] flex flex-row justify-between text-[18px]
}

.proceed-btn {
  @apply w-full h-[70px] px-8 mt-4 
}

.proceed-content {
  @apply flex items-center bg-[#ffc300] justify-center h-[60px]
}

.order-summary {
  @apply sm:grid md:grid md:grid-cols-2 md:px-16
}

.no-product {
  @apply flex items-center justify-center mt-20 md:flex md:items-center md:justify-center
}

.no-product-image {
  @apply flex items-center justify-center w-7/12 h-[200px] md:w-7/12 md:h-[400px] lg:w-4/12 lg:h-[410px]
}

.clear-cart {
  @apply px-4 w-full 
}

.clear-cart-btn {
  @apply px-4 w-4/12 h-[50px] border border-[#fff] bg-[#f3f2f2] rounded-md flex items-center justify-center text-[#535353] cursor-pointer hover:bg-red-500 hover:text-[#fff] lg:w-3/12 lg:text-[#535353]
}

/*CHECKOUT*/
.wrapper {
@apply bg-[#f1f0f0] lg:px-16
}

.checkout-link-container {
  @apply w-full px-4 mt-4 md:px-4 lg:px-20
}

.checkout-link-header {
  @apply flex flex-row items-center w-full h-[50px] bg-[#f1f0f0] 
}

.billing-address-line {
  @apply flex flex-row items-center gap-2  px-4 mt-10 text-[#535353] w-full
}

.billing-address-text {
  @apply text-[20px] font-semibold w-full
}

.form-container-md {
  @apply lg:grid md:grid-cols-2
}

.form-wrapper {
  @apply w-full  mb-4 
}

.main-form-wrapper {
  @apply  md:grid md:grid-cols-2
}

.form-wrapper-lines {
  @apply flex flex-row items-center w-full px-4 gap-1 mt-8 
}

.lines {
  @apply border border-dotted h-0 w-full bg-[#c4c2c2] 
}

.form-wrapper-h3 {
  @apply w-[280px] h-[30px] font-semibold text-[#535353] text-[20px]
}

.form-container {
  @apply mx-4 mt-10 drop-shadow-md bg-[#fff] pb-4
}

.form-wrapper {
  @apply mt-[-20px] 
}

.form {
  @apply px-6 pt-4
}

.form-p {
  @apply text-[#8f8e8e]
}

.inputs {
  @apply outline-none border border-[#c4c2c2] w-full h-[50px] px-2 mb-2 mt-2
}

/*CHECKOUT SUMMARY*/
.summary-wrappper {
  @apply px-4 mt-10
}

.order-wrapper-lines {
  @apply flex flex-row items-center lg:mt-[-8px]
}

.order-wrapper-h3 {
  @apply w-[200px] font-semibold text-[#535353] text-[20px]
}

.order-lines {
  @apply w-full border border-dotted bg-[#c4c2c2] h-0
}

.summary-card {
  @apply w-full h-auto bg-white drop-shadow-md mt-4 pb-10 lg:mt-10
}

.order-title {
  @apply px-6 pt-4 font-semibold
}

.products-price {
  @apply flex flex-row justify-between items-center px-6 pt-3 text-[#8f8e8e]
}

.divide-line-wrapper {
  @apply w-full px-6 mt-3
}

.divide-line {
  @apply border border-[#e5e3e3] w-full 
}

.subtotal {
  @apply flex flex-row items-center justify-between px-6 mt-3
}

.subtotal-total {
  @apply text-[#535353] font-semibold
}

.subtotal-p {
  @apply text-[#535353] font-semibold
}

/*BILLING*/
.billing-wrapper {
  @apply mt-10
}

.select-payment-card {
  @apply w-full h-[200px] drop-shadow-md bg-white mt-4
}

.select-payment {
  @apply flex flex-row items-center gap-3 px-4 pt-8 mb-[-20px]
}

.checkboxes {
  @apply indeterminate:bg-[#e5e3e3] 
}

.btn-container {
  @apply px-4 mt-10 w-full 
}

.btn {
  @apply w-full h-[55px] bg-[#ffc300] flex items-center justify-center text-[#5c5a5a] font-bold
}

/*SINGLE PRODUCT*/

.single-product-wrapper {
  @apply px-4 mt-[-27px] lg:flex lg:flex-row lg:space-x-8 md:px-4 lg:px-20 lg:mt-[-27px]
}

.singleproduct-content-container {
  @apply mt-10 lg:w-8/12 lg:h-[490px]
}

.prodt-image {
  @apply flex items-center justify-center w-full h-[400px] bg-[#fff] drop-shadow-md md:h-[450px] lg:h-[490px]
}

.image-wrapper {
  @apply flex items-center justify-center w-10/12 h-[370px] md:w-5/12 md:h-[350px] lg:w-9/12 lg:h-[380px]
}

.singleproduct-content-order {
  @apply px-6 pt-6 w-full h-auto bg-[#fff] drop-shadow-md mt-10 
}

.product-content-h3 {
  @apply font-bold text-[20px] 
}

.rating {
  @apply flex flex-row items-center px-2 space-x-3 w-3/12 h-[30px] bg-[#f0f1f1] rounded-md text-[#535353] text-[14px] mt-4
          md:w-[100px] lg:flex lg:flex-row lg:space-x-3 lg:w-[100px]
}

.product-price {
  @apply mt-4 text-[24px] font-semibold text-[#535353]
}

.product-desc {
  @apply mt-4 text-[#797979]
}

.order-sizes {
  @apply flex flex-row items-center space-x-4 mt-6
}

.sizes-header {
  @apply text-[#535353] font-bold 
}

.sizes-input {
  @apply flex flex-row space-x-2
}

.order-colors {
  @apply flex flex-row items-center space-x-4 mt-3 w-full
}

.color-header {
  @apply flex flex-row items-center space-x-4 text-[#535353] font-bold
}

.addtocart-wrapper {
  @apply mt-6 flex flex-row space-x-[-20px]
}

.btn-wrapper {
  @apply flex flex-row  w-6/12 mb-10 md:w-3/12 lg:w-3/12
}

.increment-btn {
  @apply w-3/12 h-[40px] bg-[#ffc300] flex items-center justify-center
}

.count-btn {
  @apply w-3/12 h-[40px] bg-[#f8f7f7] flex items-center justify-center
}

.decrement-btn {
  @apply w-3/12 h-[40px] bg-[#ffc300] flex items-center justify-center
}

.add-to-cart {
  @apply flex items-center justify-center w-4/12 h-[40px] bg-[#ffc300] space-x-2 md:w-3/12 lg:w-3/12
}


