@tailwind base;
@tailwind components;
@tailwind utilities;

.home-container {
  @apply w-full bg-[#f0f1f1] 
}

/*Top Header*/
.topheader {
  @apply flex flex-row items-center justify-center w-full h-[60px] space-x-3
          md:flex md:flex-row md:items-center md:justify-center md:w-full md:h-[60px] md:space-x-3
          lg:flex lg:flex-row lg:justify-between lg:px-20
}

.top-header-card {
  @apply flex flex-row items-center space-x-4
          md:flex md:flex-row md:items-center md:space-x-4
}

.orderlist {
  @apply sm:hidden md:hidden lg:flex lg:flex-row lg:space-x-4 lg:text-[#999]
}

.account-card {
  @apply flex items-center justify-center gap-2 w-[120px] h-[40px] bg-[#fff]
}

.icon-card {
  @apply sm:hidden md:hidden lg:flex lg:flex-row lg:justify-between lg:gap-2
}

.icon-card-one {
  @apply flex flex-row justify-between gap-2 
          lg:hidden
}


.icon-count {
  @apply flex w-[20px] h-[20px] rounded-full items-center justify-center border border-[#595959]
}

/*Second Header*/
.header {
  @apply flex flex-row justify-between items-center w-full h-[60px] bg-[#595959] px-3
          md:flex md:flex-row md:justify-between md:items-center md:w-full md:h-[60px] md:bg-[#595959]
          lg:flex lg:flex-row lg:justify-between lg:px-20 lg:w-full lg:h-[60px] lg:bg-[#fff] lg:pt-6  
}

.header-title {
  @apply flex flex-row lg:flex lg:flex-row
}

.multi-text {
  @apply flex items-center justify-center px-2 w-[100px] h-[40px] bg-[#fff] text-[#595959] text-[27px] font-bold
         lg:flex lg:w-[100px] lg:h-[50px] lg:px-2 lg:bg-[#595959] lg:text-[#FFC300] lg:text-[27px] lg:font-bold       
}

.shop-text {
  @apply flex items-center justify-center px-2 w-[100px] h-[40px] bg-[#FFC300] text-[#fff] text-[27px] font-bold
         lg:flex lg:items-center lg:justify-center lg:px-2 lg:h-[50px] lg:bg-[FFC300] lg:text-[#fff] lg:text-[27px] lg:font-bold         
}

.icon-card-container {
  @apply sm:hidden md:hidden lg:flex lg:flex-row lg:gap-2
}

.icon-hamburger {
  @apply flex items-center justify-center w-[50px] h-[40px] border border-[#999]
          md:flex md:items-center md:justify-center md:w-[50px] md:h-[40px] md:border md:border-[#999]
          lg:hidden
}

.icon-count-heart {
  @apply flex w-[20px] h-[20px] rounded-full items-center justify-center border border-[#fff] text-[#fff] text-[12px]
}

.search {
  @apply sm:hidden lg:flex flex-row lg:w-[350px] lg:h-[50px] lg:border lg:border-[#c8c5c5]
}

.customer-service-side {
  @apply sm:hidden md:hidden lg:flex lg:flex-row lg:space-x-2
}
