@tailwind base;
@tailwind components;
@tailwind utilities;

.home-container {
  @apply w-full  bg-[#f0f1f1] 
}

/*Top Header*/
.topheader {
  @apply flex flex-row items-center justify-center w-full h-[60px] space-x-3
          md:flex md:flex-row md:items-center md:justify-center md:w-full md:h-[60px] md:space-x-3
          lg:flex lg:flex-row lg:justify-between lg:px-20
}

.top-header-card {
  @apply flex flex-row items-center space-x-4
          md:flex md:flex-row md:items-center md:space-x-4
}

.orderlist {
  @apply sm:hidden md:hidden lg:flex lg:flex-row lg:space-x-4 lg:text-[#6a6969]
}

.account-card {
  @apply flex items-center justify-center gap-2 w-[120px] h-[40px] bg-[#fff]
}

.icon-card {
  @apply sm:hidden md:hidden lg:flex lg:flex-row lg:justify-between lg:gap-1
}

.icon-card-one {
  @apply flex flex-row justify-between gap-2 
          lg:hidden
}


.icon-count {
  @apply flex w-[20px] h-[20px] rounded-full items-center justify-center border border-[#595959]
}

/*Second Header*/
.header {
  @apply relative flex flex-row justify-between items-center w-full h-[70px] bg-[#595959] px-3
          md:flex md:flex-row md:justify-between md:items-center md:w-full md:h-[70px] md:bg-[#595959]
          lg:flex lg:flex-row lg:justify-between lg:px-20 lg:w-full lg:h-[80px] lg:bg-[#fff] lg:py-6  
}

.header-title {
  @apply flex flex-row lg:flex lg:flex-row
}

.multi-text {
  @apply flex items-center justify-center px-2 w-[100px] h-[40px] bg-[#fff] text-[#595959] text-[27px] font-bold
         lg:flex lg:w-[100px] lg:h-[50px] lg:px-2 lg:bg-[#595959] lg:text-[#FFC300] lg:text-[27px] lg:font-bold       
}

.shop-text {
  @apply flex items-center justify-center px-2 w-[100px] h-[40px] bg-[#FFC300] text-[#fff] text-[27px] font-bold
         lg:flex lg:items-center lg:justify-center lg:px-2 lg:h-[50px] lg:bg-[FFC300] lg:text-[#fff] lg:text-[27px] lg:font-bold         
}

.icon-card-container {
  @apply sm:hidden md:hidden lg:flex lg:flex-row lg:gap-2
}

.icon-hamburger {
  @apply flex items-center justify-center w-[50px] h-[40px] border border-[#999] rounded-md cursor-pointer
          md:flex md:items-center md:justify-center md:w-[50px] md:h-[40px] md:border md:border-[#999]
          lg:hidden
}

.navmobile-dropdown {
  @apply flex w-full h-[150px] bg-[#595959] px-3
          lg:hidden
}

.navmobile-dropdown-text {
  @apply text-[#fff] mt-1
}

.navmobile-dropdown-list {
  @apply mt-2 lg:hover:text-[#FFC300] cursor-pointer
}

.icon-count-heart {
  @apply flex w-[20px] h-[20px] rounded-full items-center justify-center border border-[#fff] text-[#fff] text-[12px]
}

.search {
  @apply sm:hidden lg:flex 
          lg:flex-row lg:items-center lg:justify-between lg:w-[350px] lg:h-[50px]
}

.input-field {
  @apply lg:flex-row lg:items-center lg:justify-between lg:w-[300px] lg:h-[50px] lg:border lg:border-[#c8c5c5] lg:outline-none lg:px-2
}

.search-icon {
  @apply sm:hidden 
          lg:flex lg:items-center lg:justify-center lg:w-[50px] lg:h-[50px] lg:border lg:border-[#999]
}

.customer-service-side {
  @apply sm:hidden md:hidden 
          lg:grid grid-rows-1 lg:flex-row lg:space-x-2
}

.customer-text {
  @apply sm:hidden lg:flex lg:text-[#999] lg:font-bold
}

.customer-num {
  @apply sm:hidden lg:flex lg:text-[#595959]
}

/*Third Header*/
.third-header {
  @apply lg:flex lg:flex-row lg:justify-between lg:px-20 lg:w-full lg:h-[70px] lg:bg-[#595959] lg:py-6
}

.category-Links-container {
  @apply sm:hidden lg:flex lg:flex-row lg:w-full lg:space-x-4
}

.hamburger-category-container {
  @apply sm:hidden lg:flex lg:flex-row lg:gap-2 lg:items-center lg:text-[#595959] lg:font-bold
}

.category-card-header {
  @apply sm:hidden lg:flex lg:flex-row lg:items-center lg:justify-between lg:px-6 lg:w-[400px] lg:h-[70px] lg:bg-[#FFC300] lg:mt-[-24px]
}

.nav-list {
  @apply sm:hidden lg:flex lg:flex-row lg:items-center lg:mt-[-24px] lg:h-[70px] lg:space-x-4 lg:text-[#fff]
}


/*Slider Container*/
.slider-container {
  @apply relative w-full h-[380px] md:relative md:flex md:w-full md:h-[450px] px-3 mt-4 lg:hidden
}

.image-size {
  @apply relative w-full h-[380px] brightness-50 md:w-full md:h-[450px]
}

.text-display {
  @apply absolute  grid place-items-center
}

.h3-text {
  @apply text-[#fff] text-[30px] font-semibold
}

.p-text {
  @apply text-[#fff] text-[16px] grid w-full place-content-center
}

.slider-navigation {
  @apply absolute flex flex-row items-center justify-center gap-4 bottom-8
}

.text-display-btn {
  @apply flex items-center justify-center text-[#fff] w-[120px] h-[50px] border border-[#fff] mt-4
}

/*Slider Special Offers*/
.slider-specialOffer {
  @apply relative grid place-items-center px-3 mt-4
}

.image-special {
  @apply w-full h-[250px] px-2 mb-4 bg-black lg:hidden
}

.image-card {
  @apply relative  w-full h-[200px] bg-black brightness-50 md:h-[290px] lg:hidden
}

.image-contents {
  @apply absolute grid place-items-center text-white lg:hidden
}

.save-text {
  @apply text-[16px] font-semibold lg:hidden
}

.save-h3 {
  @apply font-bold text-[20px]
}

.save-btn {
  @apply grid place-items-center w-[100px] h-[40px] bg-[#FFC300] mt-2 text-black
}

/*Large Screen Slider*/

.large-slider-container {
  @apply sm:hidden md:hidden lg:flex lg:flex-row lg:items-center lg:justify-between lg:mx-6 px-[60px] gap-4  lg:w-full lg:h-[600px]
}

.slider-images {
  @apply flex items-center  justify-center relative bg-black w-8/12 h-[500px] py-8
}

.slider-contents {
  @apply absolute grid place-items-center  text-[#fff] w-7/12
}

.sales-container {
  @apply grid grid-rows-2 w-4/12 
}

.sales-image {
  @apply relative bg-black w-11/12 h-[280px] mb-[20px] mt-2
}

.sales-text {
  @apply absolute grid place-items-center w-11/12 mx-4 mt-[82px] text-[#fff]
}

.header-text {
  @apply font-semibold text-[40px]
}

.param-text {
  @apply text-[17px] mt-3
}

.slider-btn {
  @apply flex items-center justify-center w-[120px] h-[40px] border border-[#fff] mt-6 text-center 
}

.size-image {
  @apply h-[600px] w-[1100px] brightness-50
}

.sales-btn {
  @apply flex items-center justify-center w-[120px] h-[40px] bg-[#FFC300] text-[#000] mt-3
}

.text-h3 {
  @apply mt-2 font-semibold text-[25px]
}

.images {
  @apply absolute w-[500px] h-[290px] brightness-50
}

/*SERVICE CSS*/
.service-container {
  @apply grid p-4 shadow-md w-full  mt-16 mb-8
}

.service-card {
  @apply flex flex-row items-center px-10 gap-4 w-full h-[90px] mb-8 bg-[#fff] lg:hidden
}

.header-4 {
  @apply  text-[#6a6969] text-[18px] lg:hidden
}


